<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by sulabh adhikari. its uses data from mapbox.com and darksky.net</p>
         <img class="portrait other" src="/img/me.jpg">
    </div>
    
    {{>footer}}
</body>

</html>